/*Barricade's Lyrania Theme --Barridarkside [Lyrania] WIDE*/
/*to be used OVER the BLACK THEME and MUST be in widescreen mode*/
/*go to Dropdown Menu > Settings > Display > Use Widescreen Mode > Yes > Refresh > Profit!*/


#skills {
    font-size: 10px;
    padding: 5px;
}
#jewellery {
    font-size: 12px !important;
    padding: 5px !important;
}

/*Inventory*/
ul#inventul {
    padding-right: 93px;
}
#inventul li {
    display: inline-block;
    list-style-type: none;
    font-size: 14px;
    font-weight: bold !important;
}
#inventul li a {
    text-decoration: none;
    font-size: 16px;
    color: #fff !important;
    text-shadow: 0px 0px 2px #f00, 0px 0px 2px #f00, 0px 0px 2px #f00 !important;
     padding-right: 0px;
}
/*Jewelry*/
div#inventdiv1 {
    display: inline-block;
    padding-right: 50px;
}
/*Maps*/
div#inventdiv2 {
    text-align: center !important;
    padding-right: 75px;
}
/*Orbs*/
div#inventdiv3 {
    text-align: center !important;
    padding-right: 75px;
}
/*Consumables*/
div#inventdiv4 {
    text-align: center !important;
    padding-right: 50px;
}
/*Resources*/
div#inventdiv5 {
    text-align: center !important;
    padding-right: 75px;
}
/*Potions*/
div#inventdiv6 {
    text-align: center !important;
    padding-right: 75px;
}
/*Misc*/
div#inventdiv7{
    text-align: center !important;
    padding-right: 50px;
}

/*top right clickables*/
html body div#holder div.lrow div#header div.lrow div.headerbox.headernav a {
    font-weight: bold !important;
}
.settingsform > label {
    text-align: center;
}

.settingsform > label, .settingsform > input[type=password], .settingsform > input[type=text] {
    width: 50%
}
#housing a {
    font-style: oblique !important;
    text-decoration: none !important;
}

/*TRUE widescreen Lyr now :D */
#holder {
    width: 99.9% !important;
    height: auto !important;
    background-image: url("https://pre00.deviantart.net/3f51/th/pre/f/2015/328/a/9/star_wars_sith_wallpaper_1920x1080_by_blacklotusxx-d9hmt8z.jpg");
    background-repeat: no-repeat !important;
    background-position: center !important;
    background-size: cover !important;
}

/*Get Quest Screen*/
html body div#popupcontainer div#popupholder div div div#popuprescontainer div#popupresdisplay div#popup span select#quest_mob {
    margin-right: 200px;
}
html body div#popupcontainer div#popupholder div div div#popuprescontainer div#popupresdisplay div#popup span input {
    margin: 50px;
}

/*Potion Timers*/
html body div#holder div#middlesection.lrow div#main div#content div span {
    color: #f00;
    font-style: oblique;
    font-weight: bold;
}
/*potion loadout during bosses*/
select#potion {
    width: 130px;
    margin-right: 5px;
}
/*aboss dead screen*/
html body div#holder div#middlesection.lrow div#main div#content div#contentBoss div div {
    text-align: center;
    margin-left: 225px;
}
/*construction xp bar*/
html body div#popupcontainer div#popupholder div div div#popuprescontainer div#popupresdisplay div#popup div#housing div div span div {
    max-width: 210px !important;
    background: #00000017 !important;
}
/*Resources in house*/
html body div#popupcontainer div#popupholder div div div#popuprescontainer div#popupresdisplay div#popup div#housing div div {
    color: #fff !important;
    text-shadow: 0px 0px 1px #000, 0px 0px 1px #000, 0px 0px 1px #000 !important;
    font-weight: bold;
    font-size: 9pt;
}
/*non popup ui const xp bar*/
html body div#holder div#middlesection.lrow div#main div#content div#housing div div span div{
    max-width: 250px !important;
}
html body div#holder div#middlesection.lrow div#main div#content div#housing div div span div div {
    background: red !important;
}
html body div#popupcontainer div#popupholder div div div#popuprescontainer div#popupresdisplay div#popup div#housing div div span div div {
    background: red !important;
    box-shadow: 0px 0px 1px black inset;
}
/* Jade Temple */
span.skillinfo {
    text-align: right;
    color: white !important;
    font-style: normal;
    display: inline-block;
    width: 25%;
    font-size: 10pt;
}

span.skilltrain {
    margin-right: 10%;
    color: white !important;
    display: inline-block;
    text-align: right;
}

div.jadeskill {
    margin-bottom: 3px;
}

div#jadegodstatue {
    border-top: none;
    padding-top: 3px;
    padding-bottom: 3px;
    padding-right: 60px;
    display: inline;
}

div#templesubmit {
    border-top: none;
}

div.templeaction {
    text-align: center;
    padding-top: 0px;
}

.overpriced {
    text-decoration: line-through red;
}
/*inventory*/
div#inventdiv1 {
    font-size: 10pt;
}
/*Crafting*/
#jadereq.crafting-fake-jade-input {
    border: 3px;
    border-style: inset;
    border-radius: 12px;
    border-color: #000 !important;
    box-shadow: 0px 0px 3px #f00, 0px 0px 3px #f00, 0px 0px 3px #f00 inset !important;
    background-color: black;
    color: #fff !important;
    text-shadow: 0px 0px 2px #f00, 0px 0px 2px #f00, 0px 0px 2px #f00 !important;
    font-size: 11pt;
}
/* Guild Map Completion Chat Message*/
html body div#holder div.lrow div#chat div#chatwindow div.chatline span table tbody {
    color: #fff !important;
    text-shadow: 0px 0px 2px #f00, 0px 0px 2px #f00, 0px 0px 2px #f00 !important;
}
/*scratch card border*/
div#cardcontainer {
    background-image: url("https://pre00.deviantart.net/3f51/th/pre/f/2015/328/a/9/star_wars_sith_wallpaper_1920x1080_by_blacklotusxx-d9hmt8z.jpg") !important;
    background-repeat: no-repeat !important;
    background-position: center !important;
    background-size: cover !important;
    border: 5px !important;
    border-style: groove !important;
    border-color: #8e0000 !important;
    box-shadow: 0px 0px 3px #000, 0px 0px 3px #000, 0px 0px 3px #000 inset !important;
}

/*players online page*/
/*Staff Online*/
html body div#popupcontainer div#popupholder div div div#popuprescontainer div#popupresdisplay div#popup div#onlinelistcontainer div#onlineliststaff h5 {
    background-image: url("https://i.imgur.com/9GXrGkY.jpg");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    font-size: 20px;
    color: #EEE;
    text-shadow: 0px 0px 3px #F00, 0px 0px 3px #F00, 0px 0px 3px #FF00FB;
    font-weight: normal;
    border-radius: 12px;
    border: white 5px;
    border-style: double;
    border-color: #fff;
    box-shadow: 0px 0px 3px #F00, 0px 0px 3px #F00, 0px 0px 3px #FF00FB inset !important;
    width: 75px;
    text-align: center;
    margin: auto;
    margin-bottom: 10px;
}

/*Guild members online*/
html body div#popupcontainer div#popupholder div div div#popuprescontainer div#popupresdisplay div#popup div#onlinelistcontainer div#onlinelistguild h5 {
    background-image: url("https://i.imgur.com/9GXrGkY.jpg");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    font-size: 20px;
    color: #0CE300 !important;
    text-shadow: 0px 0px 3px #90F, 0px 0px 2px #3399ff, 0px 0px 3px #D700FF !important;
    font-weight: normal;
    border-radius: 12px;
    border: white 5px;
    border-style: double;
    border-color: #0CE300 !important;
    box-shadow: 0px 0px 3px #90F, 0px 0px 2px #3399ff, 0px 0px 3px #D700FF inset !important;
    width: 75px;
    text-align: center;
    margin: auto;
    margin-bottom: 10px;
}

/*Regular players online*/
html body div#popupcontainer div#popupholder div div div#popuprescontainer div#popupresdisplay div#popup div#onlinelistcontainer div#onlinelistother h5 {
    background-image: url("https://i.imgur.com/9GXrGkY.jpg");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    font-size: 20px;
    color: #fff !important;
    text-shadow: 0px 0px 2px #f00, 0px 0px 2px #f00, 0px 0px 2px #f00 !important;
    font-weight: normal;
    border-radius: 12px;
    border: white 5px;
    border-style: double;
    border-color: #f00 !important;
    box-shadow: 0px 0px 3px #7b00ff, 0px 0px 3px #7b00ff, 0px 0px 3px #7b00ff inset !important;
    width: 75px;
    text-align: center;
    margin: auto;
    margin-bottom: 10px;
}

/*autos remaining*/
div.lrow div.flex-content div.lrow div.strong.text-center.flex {
    /*padding-left: 183px; /*100% screensize*/
    padding-left: 190px;
    /*90% screensize*/
    /*text-decoration: underline #0051FF;*/
    color: #fff !important;
    text-shadow: 0px 0px 2px #f00, 0px 0px 2px #f00, 0px 0px 2px #f00 !important;
    font-style: oblique;
    font-weight: normal;
}
/*Restarting... Autos*/
div#stopauto.text-center.flex {
    margin-top: 0px;
    font-size: 15pt !important;
    color: #EAFF00;
    text-shadow: 0px 0px 2px #FF6200, 0 0 2px #FF4100, 0 0 2px #F00;
}
/*dungeon autos remaining*/
html body div#holder div#middlesection.lrow div#main div#content div.lrow div.flex-content div.strong.text-center {
    color: #fff !important;
    text-shadow: 0px 0px 2px #f00, 0px 0px 2px #f00, 0px 0px 2px #f00 !important;
    font-style: oblique;
    font-weight: normal;
}

/*Action Timer*/
#timer {
    font-family: "lcd", "Calibri" !important;
    font-size: 14pt;
    color: #fff !important;
    text-shadow: 0px 0px 2px #f00, 0px 0px 2px #f00, 0px 0px 2px #f00 !important;
    padding-top: 0px;
    font-weight: normal !important;
    text-decoration: none !important;
}

/*battle names/hp*/
div.battleContainer.lrow.margin-bottom-10 {
    color: #fff !important;
    text-shadow: 0px 0px 2px #f00, 0px 0px 2px #f00, 0px 0px 2px #f00 !important;
}
/*House Rooms*/
html body div#popupcontainer div#popupholder div div div#popuprescontainer div#popupresdisplay div#popup div#housing div#roomlist {
    background: #000000a6;
    max-width: 700px !important;
    height: 450px;
    margin-top: 1% !important;
    border-radius: 12px;
    border: white 3px;
    border-style: ridge;
    border-color: #000 !important;
    box-shadow: 0px 0px 2px #f00, 0px 0px 2px #f00, 0px 0px 2px #f00 inset !important;
    text-align: left !important;
}
html body div#popupcontainer div#popupholder div div div#popuprescontainer div#popupresdisplay div#popup div#housing div#roomlist p {
    color: #fff !important;
    text-shadow: 0px 0px 2px #f00, 0px 0px 2px #f00, 0px 0px 2px #f00 !important;
    font-size: 12pt;
    background: #1c0000 !important;
    max-width: 050px !important;
    margin-top: 1% !important;
    margin-left: 295px;
    border-radius: 12px;
    text-align: center !important;
    padding-left: 25px;
    border: white 3px;
    border-style: ridge;
    border-color: #000 !important;
    box-shadow: 0px 0px 2px #f00, 0px 0px 2px #f00, 0px 0px 2px #f00 inset !important;
}
/*non-popup ui mode room list*/
html body div#holder div#middlesection.lrow div#main div#content div#housing div#roomlist {
    margin-top: 1% !important;
}
/* Room item counts */
html body div#popupcontainer div#popupholder div div div#popuprescontainer div#popupresdisplay div#popup div#housing div#roomlist div span {
    color: #fff !important;
    text-shadow: 0px 0px 2px #f00, 0px 0px 2px #f00, 0px 0px 2px #f00 !important;
}

/*profile shit*/
html body div#popupcontainer div#popupholder div div div#popuprescontainer div#popupresdisplay div#popup div#profileinfo {
    background-image: url("https://pre00.deviantart.net/3f51/th/pre/f/2015/328/a/9/star_wars_sith_wallpaper_1920x1080_by_blacklotusxx-d9hmt8z.jpg");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    border: double 3px #f00 !important;
}
html body div#popupcontainer div#popupholder div div div#popuprescontainer div#popupresdisplay div#popup div#profileinfo div#profile_data,
html body div#popupcontainer div#popupholder div div div#popuprescontainer div#popupresdisplay div#popup div#profileinfo div#profile_data div,
html body div#popupcontainer div#popupholder div div div#popuprescontainer div#popupresdisplay div#popup div#profileinfo div#battle_data,
html body div#popupcontainer div#popupholder div div div#popuprescontainer div#popupresdisplay div#popup div#profileinfo div#staff_data {
    background-color: #00000000;
}
/*Rank on Profile*/
html body div#popupcontainer div#popupholder div div div#popuprescontainer div#popupresdisplay div#popup div#profilepic h3 {
    text-decoration: none;
    font-weight: normal;
    font-size: 12pt;
    margin-top: 5px;
}
/*Profile pic background*/
html body div#popupcontainer div#popupholder div div div#popuprescontainer div#popupresdisplay div#popup div#profilepic {
    background-image: url("https://wallpaperplay.com/walls/full/9/2/7/45671.jpg");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    border: double 3px #f00 !important;
}

/*text area on profile*/
#bio {
    width: 490px;
    height: 100px;
    text-align: center;
    background: #00000000;
    color: #fff !important;
    text-shadow: 0px 0px 2px #f00, 0px 0px 2px #f00, 0px 0px 2px #f00 !important;
    border: none;
    position: relative;
}

#chat {
    background-color: #00000050;
    border: 3px;
    border-style: inset;
    border-color: #000 !important;
    box-shadow: 0px 0px 3px #f00, 0px 0px 3px #f00, 0px 0px 3px #f00 inset !important;
    border-radius: 12px;
}
/* Players names in chat */
.chatname {
    color: #f00 !important;
    text-shadow: 1px 1px 2px #000, 1px 1px 2px #000, 1px 1px 2px #000 !important;
}

/* Admin chat text color */
.admincolour {
    color: #FF0000 !important;
    text-shadow: 1px 1px 2px #000, 1px 1px 2px #000, 1px 1px 2px #000 !important;
}

/*chat buttons*/
input#mainchatbutton,
input#tradechatbutton,
input#auctionchatbutton,
input#globalschatbutton,
input#areachatbutton,
input#pubchatbutton,
input#litechatbutton {
    border: 3px #f00!important;
    border-style: ridge !important;
    border-color: #000!important;
    border-radius: 12px !important;
    box-shadow: 0px 0px 3px #f00, 0px 0px 3px #f00, 0px 0px 3px #f00 inset !important;
    height: 20px !important;
    margin-left: 5px !important;
}
/* Chat */
#chatwindow {
    margin-top: .8%;
    font-size: 10pt !important;
    border: 3px;
    border-style: ridge;
    border-color: #000 !important;
    box-shadow: 0px 0px 3px #f00, 0px 0px 3px #f00, 0px 0px 3px #f00 inset !important;
    border-radius: 12px 12px 12px 12px;
    background-color: #00000000 !important;
    color: #FFF !important;
    text-shadow: 1px 1px 2px black, 1px 1px 2px black, 1px 1px 2px black;
    min-height: 50px !important;
    /*border-color: #FFF;
    box-shadow: 0px 0px 1px #FFF, 0 0 2px #FFF, 0 0 7px #FFF;*/
}



/* Chat Text Input Windows */
#inputchat {
    width: 900px !important;
    position: relative !important;
    font-size: 10pt !important;
    text-indent: 3px !important;
    border: 3px;
    border-style: inset;
    border-color: #000 !important;
    box-shadow: 0px 0px 3px #f00, 0px 0px 3px #f00, 0px 0px 3px #f00 inset !important;
    border-radius: 0px 0px 12px 12px;
    background-color: #00000000!important;
    color: #fff !important;
    text-shadow: 0px 0px 2px #f00, 0px 0px 2px #f00, 0px 0px 2px #f00 !important;
    text-align: left;
    font-weight: normal;
}

/*chat send button*/
html body div#holder div.lrow div#chat input#chatbutton {
    /*background-image: url("https://i.imgur.com/9GXrGkY.jpg");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;*/
    background: black !important;
    color: #fff !important;
    text-shadow: 0px 0px 2px #f00, 0px 0px 2px #f00, 0px 0px 2px #f00 !important;
    border-color: #000 !important;
    box-shadow: 0px 0px 3px #f00, 0px 0px 3px #f00, 0px 0px 3px #f00 inset !important;
    border-style: inset;
    text-align: center;
}

/* Chat Channel Selector */
#chatchannel {
    border-style: inset;
    background-color: #000 !important;
    border-radius: 12px;
    border-color: #000 !important;
    box-shadow: 0px 0px 3px #f00, 0px 0px 3px #f00, 0px 0px 3px #f00 inset !important;
    color: #fff !important;
    text-shadow: 0px 0px 2px #f00, 0px 0px 2px #f00, 0px 0px 2px #f00 !important;
    text-align: center;
    font-size: 10pt !important;
}




body {
    font-family: "Calibri";
    background-color: black !important;
    background: -webkit-linear-gradient(top, #000 0%, #000 50%, #000 100%);
}


#popuprescontainer {
    border: 3px;
    border-style: inset;
    border-color: #000 !important;
    box-shadow: 0px 0px 3px #f00, 0px 0px 3px #f00, 0px 0px 3px #f00 inset !important;
    border-radius: 12px 12px 12px 12px;
    background-color: black;
}

/*Purchase/Spend fuckin tokens*/
html body div#popupcontainer div#popupholder div div div#popuprescontainer div#popupresdisplay div#popup div div {
    text-align: center !important;
}
/*purchase/spend tokens response*/
html body div#popupcontainer div#popupholder div div div#popuprescontainer div#popupresdisplay div#popupresponse {
    color: #fff !important;
    text-shadow: 0px 0px 3px #f00, 0px 0px 3px #f00, 0px 0px 3px #f00 !important;
    font-size: 14pt;
}

/*Main Panels*/
#side1 {
    height: 381px;
    width: 50%;
    background-color: #00000000 !important;
    border: 3px;
    border-style: inset;
    border-color: #000 !important;
    box-shadow: 0px 0px 3px #f00, 0px 0px 3px #f00, 0px 0px 3px #f00 inset !important;
    border-radius: 12px 0px 0px 12px;
    text-align: left;
    color: #FFF;
}
#side2 {
    height: 380px;
    width: 50%;
    background-color: #00000000 !important;
    border: 3px;
    border-style: inset;
    border-color: #000 !important;
    box-shadow: 0px 0px 3px #f00, 0px 0px 3px #f00, 0px 0px 3px #f00 inset !important;
    border-radius: 0px 12px 12px 0px;
    text-align: right;
    color: #FFF;
}

#main {
    background-color: #00000050;
    /*resize: vertical;
    overflow: auto;*/
    font-weight: normal;
    padding-top: 0px;
    height: 380px;
    width: 50%;
    border: 3px;
    border-style: inset;
    border-color: #000 !important;
    box-shadow: 0px 0px 3px #f00, 0px 0px 3px #f00, 0px 0px 3px #f00 inset !important;
    color: #FFF;
    font-size: 10pt !important;
    /*color: #FF00ff !important;*/
    text-align: center !important;
}


/* Header Bar All Information */
#header {
    height: auto !important;
    position: relative !important;
    text-align: left !important;
    border-radius: 12px;
    border: 3px;
    border-style: inset;
    border-color: #000 !important;
    box-shadow: 0px 0px 3px #f00, 0px 0px 3px #f00, 0px 0px 3px #f00 inset !important;
    color: #fff;
    background-color: #00000000;
    font-weight: normal !important;
}


select,
button,
input {
    color: #fff !important;
    text-shadow: 0px 0px 2px #f00, 0px 0px 2px #f00, 0px 0px 2px #f00 !important;
    border-radius: 12px !important;
    background-color: black;
    font-size: 10pt !important;
    border: 3px inset;
    border-color: #000 !important;
    box-shadow: 0px 0px 3px #f00, 0px 0px 3px #f00, 0px 0px 3px #f00 inset !important;
    text-align: center;
}

#popupnav {
    padding-right: 550px;
    text-align: right;
    background-color: black;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}
/*Select Pet Menu*/
select#Pet {
    margin-right: 25% !important;
}

/* Dropdown Selector */
#mainnav {
    background-color: #000 !important;
    border-radius: 12px;
    border: 3px inset;
    border-color: #000 !important;
    box-shadow: 0px 0px 3px #f00, 0px 0px 3px #f00, 0px 0px 3px #f00 inset !important;
    color: #fff !important;
    text-shadow: 0px 0px 2px #f00, 0px 0px 2px #f00, 0px 0px 2px #f00 !important;
    text-align: center;
    position: relative !important;
    padding: 0px 0px 0px 0px !important;
    left: 0px !important;
    width: 150px !important;
    height: 23px !important;
    font-size: 10pt !important;
    top: -15px !important;
    cursor: pointer;
}

/* hover over items pop-up. stats, jewelry, etc...*/
.glt-elm {
    font-family: "Calibri";
    background-image: url("https://i.imgur.com/9GXrGkY.jpg");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    border: 3px inset !important;
    border-color: #000 !important;
    box-shadow: 0px 0px 3px #f00, 0px 0px 3px #f00, 0px 0px 3px #f00 inset !important;
    text-align: center !important;
    width: auto !important;
}
/* Top Bar: Gems, Money, etc... colors */
/*Updates, Popup and Counter*/
#updatecount {
    font-size: 10pt  !important;
    color: #fff !important;
    text-shadow: 0px 0px 2px #f00, 0px 0px 2px #f00, 0px 0px 2px #f00 !important;
    font-weight: normal !important;
}
/*older updates*/
div.panel-heading a {
    color: red;
    font-size: 12pt;
}
.panel {
    border-radius: 12px;
    border: 3px inset;
    border-style: inset;
    border-color: #000 !important;
    box-shadow: 0px 0px 3px #f00, 0px 0px 3px #f00, 0px 0px 3px #f00 inset !important;
}
/*header text*/
html body div#popupcontainer div#popupholder div div div#popuprescontainer div#popupresdisplay div#popup div div.panel div.panel-heading {
    font-size: 12pt  !important;
    font-weight: normal !important;
    text-align: center !important;
    color: #fff !important;
    text-shadow: 0px 0px 2px #000, 0px 0px 2px #000, 0px 0px 2px #000 !important;
    
}
div.panel-body hr,
div.panel-heading hr {
    border-radius: 12px;
    border: #f00 2px;
    border-style: inset;
    border-color: #000 !important;
    box-shadow: 0px 0px 3px #f00, 0px 0px 3px #f00, 0px 0px 3px #f00 inset !important;
}
html body div#popupcontainer div#popupholder div div div#popuprescontainer div#popupresdisplay div#popup div div.panel div.panel-body {
    background: black !important;
    text-align: left !important;
}
html body div#popupcontainer div#popupholder div div div#popuprescontainer div#popupresdisplay div#popup div div.panel div.panel-heading{
    background-color: #1c1c1c !important;
    border-radius: 7px 7px 0px 0px !important;
}
/*non-popup ui log*/
html body div#holder div#middlesection.lrow div#main div#content div div.panel div.panel-heading.text-center {
    color: #fff !important;
    text-shadow: 0px 0px 2px #000, 0px 0px 2px #000, 0px 0px 2px #000 !important;
    background-color: #1c1c1c !important;
    border-radius: 7px 7px 0px 0px !important;
    border: hidden !important;
}
/*non-pop up ui panel background*/
html body div#holder div#middlesection.lrow div#main div#content div div.panel div.panel-body {
    background: #00000091 !important;
    text-align: left !important;
}
/*-----------------------------------------------------------------------*/
#onlinecount {
    font-size: 10pt;
    color: #fff !important;
    text-shadow: 0px 0px 2px #f00, 0px 0px 2px #f00, 0px 0px 2px #f00 !important;
    font-style: normal;
    font-weight: normal;
}
#goldli span[style*="color"] {
    color: #fff !important;
    text-shadow: 0px 0px 2px #f00, 0px 0px 2px #f00, 0px 0px 2px #f00 !important;
}
#eqgold span[style*="color"] {
    color: #fff !important;
    text-shadow: 0px 0px 2px #f00, 0px 0px 2px #f00, 0px 0px 2px #f00 !important;
}
#jadeli {
    color: #fff !important;
    text-shadow: 0px 0px 2px #f00, 0px 0px 2px #f00, 0px 0px 2px #f00 !important;
}
#emeraldsli {
    color: #fff !important;
    text-shadow: 0px 0px 2px #f00, 0px 0px 2px #f00, 0px 0px 2px #f00 !important;
}
#emeraldsli2 {
    color: #fff !important;
    text-shadow: 0px 0px 2px #f00, 0px 0px 2px #f00, 0px 0px 2px #f00 !important;
}
#opalsli {
    color: #fff !important;
    text-shadow: 0px 0px 2px #f00, 0px 0px 2px #f00, 0px 0px 2px #f00 !important;
}
#opalsli2 {
    color: #fff !important;
    text-shadow: 0px 0px 2px #f00, 0px 0px 2px #f00, 0px 0px 2px #f00 !important;
}
#rubiesli {
    color: #fff !important;
    text-shadow: 0px 0px 2px #f00, 0px 0px 2px #f00, 0px 0px 2px #f00 !important;
}
#rubiesli2 {
    color: #fff !important;
    text-shadow: 0px 0px 2px #f00, 0px 0px 2px #f00, 0px 0px 2px #f00 !important;
}
#sapphiresli {
    color: #fff !important;
    text-shadow: 0px 0px 2px #f00, 0px 0px 2px #f00, 0px 0px 2px #f00 !important;
}
#sapphiresli2 {
    color: #fff !important;
    text-shadow: 0px 0px 2px #f00, 0px 0px 2px #f00, 0px 0px 2px #f00 !important;
}
#diamondsli {
    color: #fff !important;
    text-shadow: 0px 0px 2px #f00, 0px 0px 2px #f00, 0px 0px 2px #f00 !important;
}
#diamondsli2 {
    color: #fff !important;
    text-shadow: 0px 0px 2px #f00, 0px 0px 2px #f00, 0px 0px 2px #f00 !important;
}
#expli {
    color: #fff !important;
    text-shadow: 0px 0px 2px #f00, 0px 0px 2px #f00, 0px 0px 2px #f00 !important;
}
#glvlli {
    color: #fff !important;
    text-shadow: 0px 0px 2px #f00, 0px 0px 2px #f00, 0px 0px 2px #f00 !important;
}
#glvlpercent {
    color: #fff !important;
    text-shadow: 0px 0px 2px #f00, 0px 0px 2px #f00, 0px 0px 2px #f00 !important;
}
#lvlli {
    color: #fff !important;
    text-shadow: 0px 0px 2px #f00, 0px 0px 2px #f00, 0px 0px 2px #f00 !important;
}
#tokenli {
    color: #fff !important;
    text-shadow: 0px 0px 2px #f00, 0px 0px 2px #f00, 0px 0px 2px #f00 !important;
}
#gnameli {
    color: #fff !important;
    text-shadow: 0px 0px 2px #f00, 0px 0px 2px #f00, 0px 0px 2px #f00 !important;
}
#healthli {
    color: #fff !important;
    text-shadow: 0px 0px 2px #f00, 0px 0px 2px #f00, 0px 0px 2px #f00 !important;
}
#attackli {
    color: #fff !important;
    text-shadow: 0px 0px 2px #f00, 0px 0px 2px #f00, 0px 0px 2px #f00 !important;
}
#defenceli {
    color: #fff !important;
    text-shadow: 0px 0px 2px #f00, 0px 0px 2px #f00, 0px 0px 2px #f00 !important;
}
#Accuracyli {
    color: #fff !important;
    text-shadow: 0px 0px 2px #f00, 0px 0px 2px #f00, 0px 0px 2px #f00 !important;
}
#evasionli {
    color: #fff !important;
    text-shadow: 0px 0px 2px #f00, 0px 0px 2px #f00, 0px 0px 2px #f00 !important;
}
#petli {
    color: #fff !important;
    text-shadow: 0px 0px 2px #f00, 0px 0px 2px #f00, 0px 0px 2px #f00 !important;
}
#guildli {
    color: #fff !important;
    text-shadow: 0px 0px 2px #f00, 0px 0px 2px #f00, 0px 0px 2px #f00 !important;
}
#rankli {
    color: #fff !important;
    text-shadow: 0px 0px 2px #f00, 0px 0px 2px #f00, 0px 0px 2px #f00 !important;
}
.headerbox {
    font-family: "Calibri" !important;
}
#header > div.lrow > div:nth-child(1) > a {
    padding-left: 16px;
    color: #fff !important;
    font-weight: normal !important;
}
#lvlli {
    padding-left: 20px;
}
#expli {
    padding-left: 28px;
}
#guildli {
    padding-left: 3px;
}
#petli {
    padding-left: 0px;
}
#goldli {
    padding-left: 10px;
    text-align: right;
}
#eqgold {
    padding-left: 17px;
}
#jadeli {
    padding-left: 23px;
}
#tokenli {
    padding-left: 11px;
}
#rankli {
    padding-left: 20px;
}
#diamondsli2 {
    padding-left: 11px;
}
#sapphiresli2 {
    padding-left: 12px;
}
#rubiesli2 {
    padding-left: 28px;
}
#emeraldsli2 {
    padding-left: 16px;
}
#opalsli2 {
    padding-left: 33px;
}
#Healthli {
    padding-left: 20px;
}
#Attackli {
    padding-left: 21px;
}
#Defenceli {
    padding-left: 12px;
}
#Accuracyli {
    padding-left: 8px;
}
#Evasionli {
    padding-left: 15px;
}


/* Minor tweaks to colors etc */
[style*="color:#222233;"],
[style="color:#000000;"] {
    color: #fff !important;
}


/*changes your name in the global message to a more visible color */
span[style*="color: #33CCFF"][href*="Barricade"] * {
    color: #3399ff !important;
    text-shadow: 0px 0px 3px #ff00ff !important;
}
span[style*="font-weight"] {
    font-weight: normal !important;
}


/* Kill counter, questupdater */
#opentickets {
    display: inline;
    font-size: 10pt !important;
    text-align: left;
}

#unreadmail {
    font-size: 10pt !important;
    text-align: left;
    padding-bottom: 50px;
}
/*Mailbox "You've Got Mail!"*/
a#unreadmail b {
    color: #EAFF00;
    text-shadow: 0px 0px 2px #FF6200, 0 0 2px #FF4100, 0 0 2px #F00;
    font-weight: normal !important;
    font-size: 12pt !important;
}
html body div#popupcontainer div#popupholder div div div#popuprescontainer div#popupresdisplay div#popup div a{
    font-weight: normal !important;
}

#questtracker {
    font-size: 10pt !important;
    text-align: left;
}
#sidecounter {
    text-align: left !important;
}
#killscount {
    color: #fff !important;
    text-shadow: 0px 0px 2px #f00, 0px 0px 2px #f00, 0px 0px 2px #f00 !important;
    font-size: 10pt !important;
    text-align: left;
}
#questupdateid {
    color: #fff !important;
    text-shadow: 0px 0px 2px #f00, 0px 0px 2px #f00, 0px 0px 2px #f00 !important;
    font-size: 10pt !important;
    text-align: left;
}
#questtracker {
    font-size: 10pt;
    text-align: left;
}


/* Quests */
#questcount {
    color: #fff !important;
    text-shadow: 0px 0px 2px #f00, 0px 0px 2px #f00, 0px 0px 2px #f00 !important;
    font-size: 10pt !important;
    text-align: left;
}
/*new quest bitch*/
html body div#holder div#middlesection.lrow div#side1 div#questtracker a span#questupdateid font {
    color: #EAFF00 !important;
    text-shadow: 0px 0px 2px #FF6200, 0 0 2px #FF4100, 0 0 2px #F00 !important;
    font-weight: bold;
    text-decoration: underline !important;
}


/* PTicket */
#ticketcount {
    color: #fff !important;
    text-shadow: 0px 0px 2px #f00, 0px 0px 2px #f00, 0px 0px 2px #f00 !important;
    font-size: 10pt !important;
    text-align: left;
}


/* Equipment Panel */
#equip1,
#equip2 {
    color: #fff !important;
    text-shadow: 0px 0px 2px #f00, 0px 0px 2px #f00, 0px 0px 2px #f00 !important;
}
#equip3,
#equip4,
#equip5,
#equip6,
#equip7,
#equip8,
#equip9 {
    color: #fff !important;
    text-shadow: 0px 0px 2px #f00, 0px 0px 2px #f00, 0px 0px 2px #f00 !important;
}

/*equipment names*/
#equipment p.equipment {
    text-align: right !important;
    margin-right: 27.5% !important;
    position: relative !important;
    max-width: 100%;
}
#equipment {
    text-align: center !important;
    left: 20px !important;
    font-size: 10pt !important;
}
#equipment > H3 {
    text-align: center !important;
    font-size: 12pt !important;
    color: #fff !important;
    text-shadow: 0px 0px 2px #f00, 0px 0px 2px #f00, 0px 0px 2px #f00 !important;
}


/* Equipment costs subscreen */
#equipstuff {
    position: relative !important;
    margin: 0;
    max-width: 100%;
    top: 0px !important;
    text-align: center;
    font-size: 10pt !important;
    color: #fff !important;
    text-shadow: 0px 0px 2px #f00, 0px 0px 2px #f00, 0px 0px 2px #f00 !important;
}
/*equipment lines*/
html body div#holder div#middlesection.lrow div#side2 div#equipment hr,
html body div#holder div#middlesection.lrow div#side2 hr {
    width: 60%;
    border: 3px !important;
    border-style: groove !important;
    border-radius: 12px;
    border-color: #000 !important;
    box-shadow: 0px 0px 2px #f00, 0px 0px 2px #f00, 0px 0px 2px #f00 !important;
}

/* Current TS Jobs: */
#tstimer {
    position: relative !important;
    text-align: left !important;
    font-size: 12pt !important;
    padding-bottom: 35px;
}
html body div#holder div#middlesection.lrow div#side1 div#tstimer b {
    color: #fff !important;
    text-shadow: 0px 0px 2px #f00, 0px 0px 2px #f00, 0px 0px 2px #f00 !important;
}

/* Current TS Jobs: Timers */
#tsjob1,
#tsjob2,
#tsjob3,
#tsjob4 {
    font-size: 10pt !important;
    position: relative !important;
}

/* TS colors */
#ts1,
#ts2,
#ts3,
#ts4 {
    color: #fff !important;
    text-shadow: 0px 0px 2px #f00, 0px 0px 2px #f00, 0px 0px 2px #f00 !important;
    font-size: 10pt !important;
    text-align: left;
}
/*TS Timers 00:00*/
html body div#holder div#middlesection.lrow div#side1 div#tstimer span#tsjob3 span#ts3 a {
    color: #FFF !important;
    text-shadow: 0px 0px 1px #F00, 0px 0px 1px #F00, 0px 0px 1px #F00 !important;
}
html body div#holder div#middlesection.lrow div#side1 div#tstimer span#tsjob1 span#ts1 a {
    color: #FFF !important;
    text-shadow: 0px 0px 1px #F00, 0px 0px 1px #F00, 0px 0px 1px #F00 !important;
}
html body div#holder div#middlesection.lrow div#side1 div#tstimer span#tsjob2 span#ts2 a {
    color: #FFF !important;
    text-shadow: 0px 0px 1px #F00, 0px 0px 1px #F00, 0px 0px 1px #F00 !important;
}
html body div#holder div#middlesection.lrow div#side1 div#tstimer span#tsjob4 span#ts4 a {
    color: #FFF !important;
    text-shadow: 0px 0px 1px #F00, 0px 0px 1px #F00, 0px 0px 1px #F00 !important;
}

/* House countdown (construction) */
#side1[style="font-size:13px;margin-left:5px;"] {
    font-size: 10pt !important;
    position: relative !important;
}


/* House Timer Color */
#housetimer {
    font-size: 10pt !important;
    color: #fff !important;
    text-shadow: 0px 0px 2px #f00, 0px 0px 2px #f00, 0px 0px 2px #f00 !important;
}

/*00:00 time*/
html body div#holder div#middlesection.lrow div#side1 span span#housetimer a b {
    color: #E3E3E3;
    text-shadow: 0 0 1px #F00, 0 0 1px #F00, 0 0 1px #F00;
    font-weight: bold;
    font-size: 13px;
}


/* Current Guild TS Jobs: */
#gtstimer {
    position: relative !important;
    font-size: 10pt !important;
}




/*dungeon fight button*/
html body div#holder div#middlesection.lrow div#main div#content div#rightinfo input#bb {
    min-width: 135px;
    max-width: 150px;
}


/*Profile Info*/
#battle_data,
#profile_data {
    padding-top: 6px;
    text-align: center !important;
    color: #FFF !important;
    border: none !important;
     font-size: 12pt !important;
}
/*Profile Info*/
#show_info,
#show_stats,
#show_staff  {
    text-align: center;
    border: 3px inset !important;
    border-radius: 12px;
    border-color: #000 !important;
    box-shadow: 0px 0px 3px #f00, 0px 0px 3px #f00, 0px 0px 3px #f00 inset !important;
    background-color: black;
    color: #fff !important;
    text-shadow: 0px 0px 2px #f00, 0px 0px 2px #f00, 0px 0px 2px #f00 !important;
    font-size: 12pt !important;
    margin-left: 34%;
    cursor: pointer;
}
#show_info:hover,
#show_stats:hover,
#show_staff:hover {
     font-size: 12pt !important;
    background-color: #3a0071 !important;
    text-align: center;
    border: 3px inset !important;
    border-radius: 12px;
    border-color: #fff !important;
    box-shadow: 0px 0px 3px #f00, 0px 0px 3px #f00, 0px 0px 3px #f00 inset !important;
}

/*popup close button*/
[href="javascript:closepage();"] {
    font-weight: normal;
    font-size: 12pt !important;
    text-align: center;
    border: 3px inset !important;
    border-radius: 12px;
    border-color: #000 !important;
    box-shadow: 0px 0px 3px #f00, 0px 0px 3px #f00, 0px 0px 3px #f00 inset !important;
    height:18px !important;
    width: 60px !important;
    float: right !important;
    padding-bottom: 3px !important;
}
[href="javascript:closepage();"]:hover {
    color: #fff !important;
    text-shadow: 0px 0px 2px #f00, 0px 0px 2px #f00, 0px 0px 2px #f00 !important;
    background: #700 !important;
    font-weight: normal !important;
    font-size: 12pt !important;
    text-align: center;
    border: 3px inset !important;
    border-radius: 12px;
    border-color: #fff !important;
    box-shadow: 0px 0px 3px silver, 0px 0px 3px silver, 0px 0px 3px silver inset !important;
    height:18px !important;
    width: 60px !important;
    float: right !important;
    padding-bottom: 3px !important;
}


/*bulk color text (fix colors when stylish gets updated)*/
body {
    background-color: #323232 !important;
    color: white;
    text-shadow: 1px 1px 2px black, 1px 1px 2px black, 1px 1px 2px black;
}
a {
    color: white;
    text-shadow: 1px 1px 2px black, 1px 1px 2px black, 1px 1px 2px black;
}
a:hover {
    color: #fff !important;
    text-shadow: 0px 0px 2px #f00, 0px 0px 2px #f00, 0px 0px 2px #f00 !important;
}

/* Mob Drop Banner Pop-up */
#bannerholder {
    top: 27px !important;
    border: none !important;
    color: #fff !important;
    text-shadow: 0px 0px 2px #f00, 0px 0px 2px #f00, 0px 0px 2px #f00 !important;
    padding: 0px !important;
    border-radius: 12px !important;
    background: black !important;
    font-weight: normal;
    height: 0px !important;
    font-size: 12pt;
}

#bannerholder > span > a > font:hover {
    border: solid 1px #000 !important;
    color: #ff00ff !important;
}
/*banner close button hidden*/
html body div#holder div#middlesection.lrow div#main div#bannerholder div a font {
    display: none !important;
}
/* Mob Drop Banner Pop-up: Drop Text */
#banner {
    text-align: center !important;
}
/*------------------------------------------------------------------------------------------------------------------------------------------------------------------*/
/* YES, a Giant clusterfuck of a mess right here, ignore it lol*/
/* Dungeon completion table */
/*Themed Table Results*/
#banner>table {
    color: #fff !important;
    text-shadow: 0px 0px 2px #f00, 0px 0px 2px #f00, 0px 0px 2px #f00 !important;
    text-align: center;
    padding: 1px !important;
    background-color: #000;
    /*background-image: url("https://i.imgur.com/9GXrGkY.jpg");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;*/
    border: 1px inset !important;
    border-color: #000 !important;
    box-shadow: 0px 0px 2px #f00, 0px 0px 2px #f00, 0px 0px 2px #f00 inset !important;
    font-weight: normal;
    font-size: 11pt;
    margin-top: 280px !important;
    margin-left: 15% !important;
    min-width: 70% !important;
    max-width: 70% !important;
}
#banner>table td {
    width: auto !important;
    border: 2px inset !important;
    border-color: #000 !important;
    box-shadow: 0px 0px 2px #f00, 0px 0px 2px #f00, 0px 0px 2px #f00 inset !important;
    margin-left: 25% !important;
}
/* -- End Dungeon layout -- */
/*------------------------------------------------------------------------------------------------------------------------------------------------------------------*/

/* Dungeon completion table */
/*Clear Background like regular Mob Drop Banner*/
/*#banner>table {
  position: relative !important;
  border-spacing: 0px !important;
  top: 0px !important;
  height: 0px !important;
  font-size: 10pt !important;
  overflow: hidden !important;
  white-space: nowrap !important;
  text-overflow: ellipsis !important;
  text-align: center !important;
  padding-left: 130px;
  min-width: 85% !important;
}
#banner>table td {
  width: 50px !important;
  padding: 0px !important;
}*/
/* -- End Dungeon layout -- */
/*------------------------------------------------------------------------------------------------------------------------------------------------------------------*/


/*------------------------------------------------------------------------------------------------------------------------------------------------------------------*/
/*New Map Tier Upgrade Option - Only on Dev Server at the moment*/
/*Upgrade Map Tier*/
html body div#popupcontainer div#popupholder div div div#popuprescontainer div#popupresdisplay div#popup div table tbody tr td a.action-link {
    color: #fff !important;
    text-shadow: 0px 0px 2px #f00, 0px 0px 2px #f00, 0px 0px 2px #f00 !important;
}
/*Tier 1,2,3,4,5......*/
html body div#popupcontainer div#popupholder div div div#popuprescontainer div#popupresdisplay div#popup div table tbody tr td strong {
    color: #f00;
    font-size: 13pt !important;
}
/*Name, Quantity, Actions*/
#popup > div:nth-child(1) > table:nth-child(1) > tbody:nth-child(1) > tr:nth-child(1) > td:nth-child(1) {
    color: #f00;
    font-size: 14pt;
    text-align: center !important;
}
#popup > div:nth-child(1) > table:nth-child(1) > tbody:nth-child(1) > tr:nth-child(1) > td:nth-child(2) {
    color: #f00;
    font-size: 14pt;
    text-align: center !important;
}
#popup > div:nth-child(1) > table:nth-child(1) > tbody:nth-child(1) > tr:nth-child(1) > td:nth-child(3) {
    color: #f00;
    font-size: 14pt;
    text-align: center !important;
}
/*------------------------------------------------------------------------------------------------------------------------------------------------------------------*/

/* Dungeon completion table */
div[style*="border-style:solid;border-width:1px;border-color:#FFFFFF"] img {
    outline: white solid 10px;
    -moz-outline-radius: 6px;
    outline-offset: -8px;
    opacity: 0.7 !important;
    border-color: #fff !important;
}
div[style*="border-style:solid;border-width:1px;border-color:#FF0000"] img {
    outline: red solid 10px;
    -moz-outline-radius: 6px;
    outline-offset: -8px;
    opacity: 0.7 !important;
    border-color: red !important;
}
div[style*="border-style:solid;border-width:1px;border-color:#00FF00"] img {
    outline: green solid 10px;
    -moz-outline-radius: 6px;
    outline-offset: -8px;
    opacity: 0.7 !important;
    border-color: green !important;
}
div[style*="border-style:solid;border-width:1px;border-color:#0000FF"] img {
    outline: blue solid 10px;
    -moz-outline-radius: 6px;
    outline-offset: -8px;
    opacity: 0.7 !important;
    border-color: blue !important;
}
div[style*="border-style:solid;border-width:1px;border-color:#FFFF00"] img {
    outline: #FF0 solid 10px;
    -moz-outline-radius: 6px;
    outline-offset: -8px;
    opacity: 0.7 !important;
    border-color: #FF0 !important;
}
div[style*="border-style:solid;border-width:1px;border-color:#FF66CC"] img {
    outline: #F6C solid 10px;
    -moz-outline-radius: 6px;
    outline-offset: -8px;
    opacity: 0.7 !important;
    border-color: #F6C !important;
}
div[style*="border-style:solid;border-width:1px;border-color:#660066"] img {
    outline: #C0C solid 10px;
    -moz-outline-radius: 6px;
    outline-offset: -8px;
    opacity: 0.7 !important;
    border-color: #C0C !important;
}

#popupcontainer div {
    background-color: #000;
    border-radius: 12px;
    color: #fff;
    resize: vertical !important;
    font-size: 9pt;
}
#popuptopbar {
    background-color: #323232;
    border-radius: 12px 12px 0px 0px;
    border-color: #000 !important;
    box-shadow: 0px 0px 3px #f00, 0px 0px 3px #f00, 0px 0px 3px #f00 inset !important;
}
#popup {
    background-color: #000;
    font-size: 12px;
    padding-left: 0px !important;
}
#popupnav {
    text-align: center;
    color: white;
    margin-top: 2px;
    padding-right: 25px;
    width: 700px;
    height: 27px !important;
    font-size: 11pt !important;
}

tbody {
    color: white;
}
table#milestonestable {
    border-collapse: collapse;
}

table#milestonestable tr {
    border: none;
}

table#milestonestable td {
    border: none;
}

table#milestonestable th {
    border: none;
}

/*------------------------------------------------------------------------------------------------------------*/
/*jade temple top text (hidden) (also BREAKS dungeon shop, motherfucker needs to die!)*/
html body div#holder div#middlesection.lrow div#main div#content div p {
    display: block;
}
/*------------------------------------------------------------------------------------------------------------*/

table#milestonestable {
    border-collapse: collapse;
    display: inline-block;
    background-color: #00000075;
    border-radius: 12px;
    border: 3px;
    border-style: double;
    margin-left: 15px;
}

table#milestonestable tr {
    border: none;
    text-align: center;
}

table#milestonestable td {
    border: none;
    padding-right: 30px;
}

table#milestonestable th {
    border: none;
    padding-right: 30px;
}
/*Rankings Page*/
a#ranking {
    font-size: 11pt;
    color: #fff;
    text-shadow: 0px 0px 1px silver;
    text-decoration: none;
    border: 3px;
    border-style: ridge;
    border-color: #000;
    box-shadow: 0px 0px 1px #f00, 0px 0px 1px #f00, 0px 0px 1px #f00 !important;
    padding: 2px 2px;
    text-align: center;
    display: inline-block;
    margin-bottom: 2px;
    background-color: #606060;
}

a#ranking-selected {
    color: #fff !important;
    text-shadow: 0px 0px 2px #f00, 0px 0px 2px #f00, 0px 0px 2px #f00 !important;
    text-decoration: none;
    font-size: 11pt;
    border:3px;
    border-style: inset;
    border-color: #fff;
    box-shadow: 0px 0px 3px #f00, 0px 0px 3px #f00, 0px 0px 3px #f00 inset !important;
    padding: 2px 2px;
    text-align: center;
    display: inline-block;
    margin-bottom: 2px;
    background-image: url("https://i.imgur.com/9GXrGkY.jpg");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}

a:hover#ranking {
    color: #EAFF00;
    text-shadow: 0px 0px 1px #FF6200, 0px 0px 1px #FF4100, 0px 0px 1px #F00;
    background-color: #606060 !important;
    border:3px;
    border-style: inset;
    border-color: #000;
    box-shadow: 0px 0px 3px #f00, 0px 0px 3px #f00, 0px 0px 3px #f00 inset;
}


/*house rooms "Rooms"*/
html body div#popupcontainer div#popupholder div div div#popuprescontainer div#popupresdisplay div#popup div#housing div#roomlist p {
    text-align: center;
    padding-right: 25px;
}



/*Chat Commands, Rules, Problem?!, FAQ*/
html body div#popupcontainer div#popupholder div div div#popuprescontainer div#popupresdisplay div#popup div b {
    color: red !important;
    text-shadow: 1px 1px 2px black, 1px 1px 2px black, 1px 1px 2px black;    
    font-weight: normal !important;
    font-size: 11pt !important;
}
html body div#popupcontainer div#popupholder div div div#popuprescontainer div#popupresdisplay div#popup div h4 {
    color: yellow;
    font-size: 12pt;
    text-decoration: underline;
}
